@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.botao-menu a {
  background-color: rgb(255, 151, 255); /* Cor de fundo neon rosa */
  margin: 8px;
  padding: 8px 25px;
  border-radius: 4px;
  color: rgb(0, 0, 0); /* Certifique-se de que a cor inicial do texto está definida */
  text-decoration: none;
  box-shadow: 0 8px 15px rgba(255, 0, 255, 0.7); /* Sombra mais evidente */
  transition: all 0.3s ease; /* Adiciona transição para suavizar os efeitos */
  font-family: 'Poppins', sans-serif; /* Adiciona a fonte moderna */
  font-weight: 600; /* Define o peso da fonte */
}

.botao-menu a:hover {
  background-color: rgb(204, 0, 204); /* Cor de fundo neon rosa mais escura no hover */
  color: aliceblue !important; /* Use !important para garantir que a cor do texto seja aplicada */
  transform: translateY(-5px); /* Move o botão mais para cima no hover */
  box-shadow: 0 15px 30px rgba(204, 0, 204, 0.9); /* Aumenta a sombra para um efeito 3D mais aparente */
}

.botao-menu.localizacao a {
  padding: 8px 15px;
}

.botao-menu.pedido a {
  background-color: rgb(0, 255, 164); /* Cor de fundo neon verde */
  margin: 8px;
  padding: 8px 25px;
  border-radius: 4px;
  color: rgb(0, 0, 0); /* Certifique-se de que a cor inicial do texto está definida */
  text-decoration: none;
  box-shadow: 0 8px 15px rgba(0, 255, 164, 0.7); /* Sombra mais evidente */
  transition: all 0.3s ease; /* Adiciona transição para suavizar os efeitos */
  font-family: 'Poppins', sans-serif; /* Adiciona a fonte moderna */
  font-weight: 600; /* Define o peso da fonte */
}

.botao-menu.pedido a:hover {
  background-color: rgb(0, 204, 131); /* Cor de fundo neon verde mais escura no hover */
  color: aliceblue !important; /* Use !important para garantir que a cor do texto seja aplicada */
  transform: translateY(-5px); /* Move o botão mais para cima no hover */
  box-shadow: 0 15px 30px rgba(0, 204, 131, 0.9); /* Aumenta a sombra para um efeito 3D mais aparente */
}


/* CSS */
button.botao{
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #f15aff 0, #ff54e0 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

button.botao:focus {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #7a0090 0 -3px 0 inset;
  transform: translateY(-2px);
}

button.botao:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #7a0090 0 -3px 0 inset;
  transform: translateY(-2px);
}

button.botao:active {
  box-shadow: #d03ce0 0 3px 7px inset;
  transform: translateY(2px);
}

.button-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os botões quebrem linha */
  align-items: center;
  justify-content: center; /* Centraliza os botões horizontalmente */
  max-width: 300px; /* Define a largura do contêiner */
  margin: 0 auto;
  background-color: #d03ce0;
  padding: 10px;
  border-radius: 10px;
}

.kilos {
  margin: 10px;
  padding: 10px;
}

.receita-container{
  display: flex;
  justify-content: center; /* Centraliza os botões horizontalmente */
  padding: 20px;
}

.info {
  text-align: center;
  color: #45ed24;
  font-family: 'Viga', serif;
  font-size: 25px;
}

button.recheios{
  background-image: radial-gradient(100% 100% at 100% 0, #7d0099 0, #6d048a 100%);
}

.mais{
  display: flex;
  justify-content: center; /* Centraliza os botões horizontalmente */
  padding: 20px;
  margin-bottom: 50px;
}

@keyframes pulsar {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 rgb(255, 255, 255);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(255, 1, 157, 0.8);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 rgb(255, 255, 255);
  }
}

.pulsante {
  animation: pulsar 1.5s infinite; /* Animação de pulsação contínua */
}